{% extends 'base.html' %}
{% block conteudo %}
    <h3> Lista de Funcionarios </h3>
    <div class="table-responsive">
        <table class="table">
        <theader>
            <th>Id</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th>A&ccedil;&otilde;es</th>
        </theader>
        <tbody>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.fnc_nome }}</td>
                <td>{{ funcionario.fnc_matricula }}</td>
                <td>
                    <a href="{% url 'func_view' funcionario.id %}">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a href="{% url 'func_update' funcionario.id %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="{% url 'func_delete' funcionario.id %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
<tbody>
</tbody>

{% endblock %}

