{% extends 'base.html' %}
{% block conteudo %}
    <h3> Lista de Setores </h3>
    <div class="table-responsive">
        <div>
            <a href="{% url 'setor_create' %}">
                <button type="button" class="btn btn-success"> Cadastrar novo setor
                </button>
            </a>
        </div>
        <br>
        <table class="table">
        <theader>
            <th>Id</th>
            <th>Nome</th>
            <th>Unidade</th>
            <th>A&ccedil;&otilde;es</th>
        </theader>
        <tbody>
            {% for setor in setores %}
            <tr>
                <td>{{ setor.id }}</td>
                <td>{{ setor.setor_nome }}</td>
                <td>{{ setor.setor_unidade }}</td>
                <td>
                    <a href="{% url 'setor_view' setor.id %}">
                        <img src="../static/img/info.svg"/>
                    </a>
                    <a href="{% url 'setor_update' setor.id %}">
                        <img src="../static/img/pencil.svg"/>
                    </a>
                    <a href="{% url 'setor_delete' setor.id %}">
                        <img src="../static/img/trashcan.svg"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
<tbody>
</tbody>

{% endblock %}