{% extends 'base.html' %}
{% block conteudo %}
    <h3> Dados do Setor </h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>Unidade</th>
                <th>A&ccedil;&otilde;es</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.setor_nome }}</td>
                    <td>{{ model.setor_unidade }}</td>
                    <td>
                        <a href="{% url 'setor_update' model.id %}">
                            <img src="../../static/img/pencil.svg"/ alt="Edit">
                        </a>
                        <a href="{% url 'func_delete' model.id %}">
                            <img src="../../static/img/trashcan.svg"/>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a href="{% url 'setor_gerenciar' %}">
        <button type="button" class="btn btn-primary">Voltar</button>
    </a>
{% endblock %}